@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Admiria - Responsive Flat Admin Dashboard</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App Icons -->
    <link rel="shortcut icon" href="~/vertical-dark/assets/images/favicon.ico">

    <!-- DataTables -->
    <link href="~/vertical-dark/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/vertical-dark/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/vertical-dark/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Basic Css files -->
    <link href="~/vertical-dark/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/vertical-dark/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/vertical-dark/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/vertical-dark/assets/plugins/sweet-alert/sweetalert.css" rel="stylesheet" />

</head>


<body class="fixed-left">

    <!-- Loader -->
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">

            <!-- LOGO -->
            <div class="topbar-left">
                <div class="">
                    <!--<a href="index.html" class="logo text-center">Admiria</a>-->
                    <a href="index.html" class="logo"><img src="~/vertical-dark/assets/images/logo-sm.png" height="36" alt="logo"></a>
                </div>
            </div>

            <div class="sidebar-inner slimscrollleft">
                <div id="sidebar-menu">
                    <ul>
                        <li>
                            <a href="/Home/Index" class="waves-effect"><i class="mdi mdi-cube-outline"></i><span> Anasayfa </span></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div> <!-- end sidebarinner -->
        </div>
        <!-- Left Sidebar End -->
        <!-- Start right Content here -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">

                <!-- Top Bar Start -->
                <div class="topbar">

                    <nav class="navbar-custom">
                        <!-- Search input -->
                        <div class="search-wrap" id="search-wrap">
                            <div class="search-bar">
                                <input class="search-input" type="search" placeholder="Search" />
                                <a href="#" class="close-search toggle-search" data-target="#search-wrap">
                                    <i class="mdi mdi-close-circle"></i>
                                </a>
                            </div>
                        </div>

                        <ul class="list-inline float-right mb-0">
                            <!-- Search -->
                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link waves-effect toggle-search" href="#" data-target="#search-wrap">
                                    <i class="mdi mdi-magnify noti-icon"></i>
                                </a>
                            </li>
                            <!-- Fullscreen -->
                            <li class="list-inline-item dropdown notification-list hidden-xs-down">
                                <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                                    <i class="mdi mdi-fullscreen noti-icon"></i>
                                </a>
                            </li>
                            <!-- language-->
                            <li class="list-inline-item dropdown notification-list hidden-xs-down">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect text-muted" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    English <img src="~/vertical-dark/assets/images/flags/us_flag.jpg" class="ml-2" height="16" alt="" />
                                </a>
                                <div class="dropdown-menu dropdown-menu-right language-switch">
                                    <a class="dropdown-item" href="#"><img src="~/vertical-dark/assets/images/flags/germany_flag.jpg" alt="" height="16" /><span> German </span></a>
                                    <a class="dropdown-item" href="#"><img src="~/vertical-dark/assets/images/flags/italy_flag.jpg" alt="" height="16" /><span> Italian </span></a>
                                    <a class="dropdown-item" href="#"><img src="~/vertical-dark/assets/images/flags/french_flag.jpg" alt="" height="16" /><span> French </span></a>
                                    <a class="dropdown-item" href="#"><img src="~/vertical-dark/assets/images/flags/spain_flag.jpg" alt="" height="16" /><span> Spanish </span></a>
                                    <a class="dropdown-item" href="#"><img src="~/vertical-dark/assets/images/flags/russia_flag.jpg" alt="" height="16" /><span> Russian </span></a>
                                </div>
                            </li>
                            <!-- notification-->
                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <i class="ion-ios7-bell noti-icon"></i>
                                    <span class="badge badge-danger noti-icon-badge">3</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5>Notification (3)</h5>
                                    </div>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                        <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                        <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                                        <p class="notify-details"><b>New Message received</b><small class="text-muted">You have 87 unread messages</small></p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
                                        <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is a long established fact that a reader will</small></p>
                                    </a>

                                    <!-- All-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        View All
                                    </a>

                                </div>
                            </li>
                            <!-- User-->
                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <img src="~/vertical-dark/assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                    <a class="dropdown-item" href="#"><i class="dripicons-user text-muted"></i> Profile</a>
                                    <a class="dropdown-item" href="#"><i class="dripicons-wallet text-muted"></i> My Wallet</a>
                                    <a class="dropdown-item" href="#"><span class="badge badge-success pull-right m-t-5">5</span><i class="dripicons-gear text-muted"></i> Settings</a>
                                    <a class="dropdown-item" href="#"><i class="dripicons-lock text-muted"></i> Lock screen</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"><i class="dripicons-exit text-muted"></i> Logout</a>
                                </div>
                            </li>
                        </ul>

                        <!-- Page title -->
                        <ul class="list-inline menu-left mb-0">
                            <li class="list-inline-item">
                                <button type="button" class="button-menu-mobile open-left waves-effect">
                                    <i class="ion-navicon"></i>
                                </button>
                            </li>
                            <li class="hide-phone list-inline-item app-search">
                                <h3 class="page-title">@ViewData["title"]</h3>
                            </li>
                        </ul>

                        <div class="clearfix"></div>
                    </nav>

                </div>
                <!-- Top Bar End -->
                <!-- ==================
                     PAGE CONTENT START
                     ================== -->

                <div class="page-content-wrapper">

                    <div class="container">

                        @RenderBody()


                    </div><!-- container -->

                </div> <!-- Page content Wrapper -->

            </div> <!-- content -->

            <footer class="footer" style="text-align:center">
                © @DateTime.Now.Year Merve Bilgiç tarafından yapılmıştır. <span class="text-muted hidden-xs-down pull-right"></span>
            </footer>

        </div>
        <!-- End Right content here -->

    </div>
    <!-- END wrapper -->
    <!-- jQuery  -->
    <script src="~/vertical-dark/assets/js/jquery.min.js"></script>
    <script src="~/vertical-dark/assets/js/tether.min.js"></script><!-- Tether for Bootstrap -->
    <script src="~/vertical-dark/assets/js/bootstrap.min.js"></script>
    <script src="~/vertical-dark/assets/js/modernizr.min.js"></script>
    <script src="~/vertical-dark/assets/js/jquery.slimscroll.js"></script>
    <script src="~/vertical-dark/assets/js/waves.js"></script>
    <script src="~/vertical-dark/assets/js/jquery.nicescroll.js"></script>
    <script src="~/vertical-dark/assets/js/jquery.scrollTo.min.js"></script>

    <!-- Required datatable js -->
    <script src="~/vertical-dark/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vertical-dark/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/vertical-dark/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/vertical-dark/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/vertical-dark/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/vertical-dark/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/vertical-dark/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/vertical-dark/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/vertical-dark/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/vertical-dark/assets/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/vertical-dark/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/vertical-dark/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/vertical-dark/assets/pages/datatables.init.js"></script>

    <!-- App js -->
    <script src="~/vertical-dark/assets/js/app.js"></script>

    @*     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> *@
    <script src="~/vertical-dark/assets/plugins/sweet-alert/sweetalert.min.js"></script>

</body>
</html>